@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #f9f9f9;
    --foreground: #1a1c1c;

    --card: #ffffff;
    --card-foreground: #1a1c1c;

    --popover: #ffffff;
    --popover-foreground: #1a1c1c;

    --primary: #0040e0;
    --primary-foreground: #ffffff;

    --secondary: #e2e2e2;
    --secondary-foreground: #1a1c1c;

    --muted: #e8e8e8;
    --muted-foreground: #434656;

    --accent: #2e5bff;
    --accent-foreground: #ffffff;

    --destructive: #ba1a1a;
    --destructive-foreground: #ffffff;

    --border: #1a1c1c;
    --input: #1a1c1c;
    --ring: #2e5bff;

    --radius: 0rem;
  }

  * {
    border-color: var(--border);
    border-radius: 0px !important;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  html {
    font-family: var(--font-sans), system-ui, sans-serif;
    scroll-behavior: smooth;
  }
}